* {
    margin: 0;
    padding: 0;
}

*,
::after,
::before {
    box-sizing: border-box
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent
}

body,
html {
    height: 100%;
}

body {
    font-family: "Gilroy-Light", sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: .5rem
}

p {
    margin-top: 0;
    margin-bottom: 1rem
}


b,
strong {
    font-weight: bolder
}

small {
    font-size: 80%
}

sub,
sup {
    position: relative;
    font-size: 55%;
    line-height: 0;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -1em
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent
}

a,
a:hover {
    color: #0056b3;
    text-decoration: none;
}

a:focus {
    color: #000;
    text-decoration: none;
}

a:focus,
input:focus,
textarea:focus,
button:focus,
select:focus {
    outline: 0 solid;
    text-decoration: none;
}

img {
    vertical-align: middle;
    border-style: none;
    height: auto;
    max-width: 100%;
}

svg {
    overflow: hidden;
    vertical-align: middle
}


.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2
}

.h1,
h1 {
    font-size: 2.5rem
}

.h2,
h2 {
    font-size: 2rem
}

.h3,
h3 {
    font-size: 1.75rem
}

.h4,
h4 {
    font-size: 1.5rem
}

.h5,
h5 {
    font-size: 1.25rem
}

.h6,
h6 {
    font-size: 1rem
}

.lead {
    font-size: 1.25rem;
    font-weight: 300
}


.small,
small {
    font-size: 80%;
    font-weight: 400
}

.img-fluid {
    max-width: 100%;
    height: auto
}

.container,
.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

@media (min-width:576px) {

    .container {
        max-width: 540px
    }
}

@media (min-width:768px) {

    .container {
        max-width: 720px
    }
}

@media (min-width:1200px) {

    .container {
        max-width: 1140px
    }
}


.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
}

.col-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    padding-left: 15px;
    padding-right: 15px;
}

.col-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    padding-left: 15px;
    padding-right: 15px;
}
.col-12 {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}
.px-5 {
    padding-left: 3rem;
    padding-right: 3rem;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.fix:before,
.fix:after {
    content: "";
    display: table;
}

.fix:after {
    clear: both;
}

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

@font-face {
    font-family: Gilroy;
    src: url(https://d36rp4fxbcrz7d.cloudfront.net/assets/fonts/Gilroy/Gilroy-Bold.eot);
    src: local('Gilroy-Bold'), url(https://d36rp4fxbcrz7d.cloudfront.net/assets/fonts/Gilroy/Gilroy-Bold.eot?#iefix) format('embedded-opentype'), url(https://d36rp4fxbcrz7d.cloudfront.net/assets/fonts/Gilroy/Gilroy-Bold.woff2) format('woff2'), url(https://d36rp4fxbcrz7d.cloudfront.net/assets/fonts/Gilroy/Gilroy-Bold.woff) format('woff'), url(https://d36rp4fxbcrz7d.cloudfront.net/assets/fonts/Gilroy/Gilroy-Bold.ttf) format('truetype'), url(https://d36rp4fxbcrz7d.cloudfront.net/assets/fonts/Gilroy/Gilroy-Bold.svg#Gilroy-Bold) format('svg');
    font-weight: 700;
    font-style: normal;
    font-display: auto
}

@font-face {
    font-family: Gilroy;
    src: url(https://d36rp4fxbcrz7d.cloudfront.net/assets/fonts/Gilroy/Gilroy-BoldItalic.eot);
    src: local('Gilroy-BoldItalic'), url(https://d36rp4fxbcrz7d.cloudfront.net/assets/fonts/Gilroy/Gilroy-BoldItalic.eot?#iefix) format('embedded-opentype'), url(https://d36rp4fxbcrz7d.cloudfront.net/assets/fonts/Gilroy/Gilroy-BoldItalic.woff2) format('woff2'), url(https://d36rp4fxbcrz7d.cloudfront.net/assets/fonts/Gilroy/Gilroy-BoldItalic.woff) format('woff'), url(https://d36rp4fxbcrz7d.cloudfront.net/assets/fonts/Gilroy/Gilroy-BoldItalic.ttf) format('truetype'), url(https://d36rp4fxbcrz7d.cloudfront.net/assets/fonts/Gilroy/Gilroy-BoldItalic.svg#Gilroy-BoldItalic) format('svg');
    font-weight: 700;
    font-style: italic;
    font-display: auto
}

@font-face {
    font-family: Gilroy;
    src: url(https://d36rp4fxbcrz7d.cloudfront.net/assets/fonts/Gilroy/Gilroy-Extrabold.eot);
    src: local('Gilroy-Extrabold'), url(https://d36rp4fxbcrz7d.cloudfront.net/assets/fonts/Gilroy/Gilroy-Extrabold.eot?#iefix) format('embedded-opentype'), url(https://d36rp4fxbcrz7d.cloudfront.net/assets/fonts/Gilroy/Gilroy-Extrabold.woff2) format('woff2'), url(https://d36rp4fxbcrz7d.cloudfront.net/assets/fonts/Gilroy/Gilroy-Extrabold.woff) format('woff'), url(https://d36rp4fxbcrz7d.cloudfront.net/assets/fonts/Gilroy/Gilroy-Extrabold.ttf) format('truetype'), url(https://d36rp4fxbcrz7d.cloudfront.net/assets/fonts/Gilroy/Gilroy-Extrabold.svg#Gilroy-Extrabold) format('svg');
    font-weight: 800;
    font-style: normal;
    font-display: auto
}

@font-face {
    font-family: Gilroy;
    src: url(https://d36rp4fxbcrz7d.cloudfront.net/assets/fonts/Gilroy/Gilroy-ExtraboldItalic.eot);
    src: local('Gilroy-ExtraboldItalic'), url(https://d36rp4fxbcrz7d.cloudfront.net/assets/fonts/Gilroy/Gilroy-ExtraboldItalic.eot?#iefix) format('embedded-opentype'), url(https://d36rp4fxbcrz7d.cloudfront.net/assets/fonts/Gilroy/Gilroy-ExtraboldItalic.woff2) format('woff2'), url(https://d36rp4fxbcrz7d.cloudfront.net/assets/fonts/Gilroy/Gilroy-ExtraboldItalic.woff) format('woff'), url(https://d36rp4fxbcrz7d.cloudfront.net/assets/fonts/Gilroy/Gilroy-ExtraboldItalic.ttf) format('truetype'), url(https://d36rp4fxbcrz7d.cloudfront.net/assets/fonts/Gilroy/Gilroy-ExtraboldItalic.svg#Gilroy-ExtraboldItalic) format('svg');
    font-weight: 800;
    font-style: italic;
    font-display: auto
}

@font-face {
    font-family: Gilroy;
    src: url(https://d36rp4fxbcrz7d.cloudfront.net/assets/fonts/Gilroy/Gilroy-Heavy.eot);
    src: local('Gilroy-Heavy'), url(https://d36rp4fxbcrz7d.cloudfront.net/assets/fonts/Gilroy/Gilroy-Heavy.eot?#iefix) format('embedded-opentype'), url(https://d36rp4fxbcrz7d.cloudfront.net/assets/fonts/Gilroy/Gilroy-Heavy.woff2) format('woff2'), url(https://d36rp4fxbcrz7d.cloudfront.net/assets/fonts/Gilroy/Gilroy-Heavy.woff) format('woff'), url(https://d36rp4fxbcrz7d.cloudfront.net/assets/fonts/Gilroy/Gilroy-Heavy.ttf) format('truetype'), url(https://d36rp4fxbcrz7d.cloudfront.net/assets/fonts/Gilroy/Gilroy-Heavy.svg#Gilroy-Heavy) format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: auto
}

@font-face {
    font-family: Gilroy;
    src: url(https://d36rp4fxbcrz7d.cloudfront.net/assets/fonts/Gilroy/Gilroy-HeavyItalic.eot);
    src: local('Gilroy-HeavyItalic'), url(https://d36rp4fxbcrz7d.cloudfront.net/assets/fonts/Gilroy/Gilroy-HeavyItalic.eot?#iefix) format('embedded-opentype'), url(https://d36rp4fxbcrz7d.cloudfront.net/assets/fonts/Gilroy/Gilroy-HeavyItalic.woff2) format('woff2'), url(https://d36rp4fxbcrz7d.cloudfront.net/assets/fonts/Gilroy/Gilroy-HeavyItalic.woff) format('woff'), url(https://d36rp4fxbcrz7d.cloudfront.net/assets/fonts/Gilroy/Gilroy-HeavyItalic.ttf) format('truetype'), url(https://d36rp4fxbcrz7d.cloudfront.net/assets/fonts/Gilroy/Gilroy-HeavyItalic.svg#Gilroy-HeavyItalic) format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: auto
}

@font-face {
    font-family: Gilroy;
    src: url(https://d36rp4fxbcrz7d.cloudfront.net/assets/fonts/Gilroy/Gilroy-Light.eot);
    src: local('Gilroy-Light'), url(https://d36rp4fxbcrz7d.cloudfront.net/assets/fonts/Gilroy/Gilroy-Light.eot?#iefix) format('embedded-opentype'), url(https://d36rp4fxbcrz7d.cloudfront.net/assets/fonts/Gilroy/Gilroy-Light.woff2) format('woff2'), url(https://d36rp4fxbcrz7d.cloudfront.net/assets/fonts/Gilroy/Gilroy-Light.woff) format('woff'), url(https://d36rp4fxbcrz7d.cloudfront.net/assets/fonts/Gilroy/Gilroy-Light.ttf) format('truetype'), url(https://d36rp4fxbcrz7d.cloudfront.net/assets/fonts/Gilroy/Gilroy-Light.svg#Gilroy-Light) format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: auto
}

@font-face {
    font-family: Gilroy;
    src: url(https://d36rp4fxbcrz7d.cloudfront.net/assets/fonts/Gilroy/Gilroy-LightItalic.eot);
    src: local('Gilroy-LightItalic'), url(https://d36rp4fxbcrz7d.cloudfront.net/assets/fonts/Gilroy/Gilroy-LightItalic.eot?#iefix) format('embedded-opentype'), url(https://d36rp4fxbcrz7d.cloudfront.net/assets/fonts/Gilroy/Gilroy-LightItalic.woff2) format('woff2'), url(https://d36rp4fxbcrz7d.cloudfront.net/assets/fonts/Gilroy/Gilroy-LightItalic.woff) format('woff'), url(https://d36rp4fxbcrz7d.cloudfront.net/assets/fonts/Gilroy/Gilroy-LightItalic.ttf) format('truetype'), url(https://d36rp4fxbcrz7d.cloudfront.net/assets/fonts/Gilroy/Gilroy-LightItalic.svg#Gilroy-LightItalic) format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: auto
}

@font-face {
    font-family: Gilroy;
    src: url(https://d36rp4fxbcrz7d.cloudfront.net/assets/fonts/Gilroy/Gilroy-Medium.eot);
    src: local('Gilroy-Medium'), url(https://d36rp4fxbcrz7d.cloudfront.net/assets/fonts/Gilroy/Gilroy-Medium.eot?#iefix) format('embedded-opentype'), url(https://d36rp4fxbcrz7d.cloudfront.net/assets/fonts/Gilroy/Gilroy-Medium.woff2) format('woff2'), url(https://d36rp4fxbcrz7d.cloudfront.net/assets/fonts/Gilroy/Gilroy-Medium.woff) format('woff'), url(https://d36rp4fxbcrz7d.cloudfront.net/assets/fonts/Gilroy/Gilroy-Medium.ttf) format('truetype'), url(https://d36rp4fxbcrz7d.cloudfront.net/assets/fonts/Gilroy/Gilroy-Medium.svg#Gilroy-Medium) format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: auto
}

@font-face {
    font-family: Gilroy;
    src: url(https://d36rp4fxbcrz7d.cloudfront.net/assets/fonts/Gilroy/Gilroy-MediumItalic.eot);
    src: local('Gilroy-MediumItalic'), url(https://d36rp4fxbcrz7d.cloudfront.net/assets/fonts/Gilroy/Gilroy-MediumItalic.eot?#iefix) format('embedded-opentype'), url(https://d36rp4fxbcrz7d.cloudfront.net/assets/fonts/Gilroy/Gilroy-MediumItalic.woff2) format('woff2'), url(https://d36rp4fxbcrz7d.cloudfront.net/assets/fonts/Gilroy/Gilroy-MediumItalic.woff) format('woff'), url(https://d36rp4fxbcrz7d.cloudfront.net/assets/fonts/Gilroy/Gilroy-MediumItalic.ttf) format('truetype'), url(https://d36rp4fxbcrz7d.cloudfront.net/assets/fonts/Gilroy/Gilroy-MediumItalic.svg#Gilroy-MediumItalic) format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: auto
}

@font-face {
    font-family: Gilroy;
    src: url(https://d36rp4fxbcrz7d.cloudfront.net/assets/fonts/Gilroy/Gilroy-Regular.eot);
    src: local('Gilroy-Regular'), url(https://d36rp4fxbcrz7d.cloudfront.net/assets/fonts/Gilroy/Gilroy-Regular.eot?#iefix) format('embedded-opentype'), url(https://d36rp4fxbcrz7d.cloudfront.net/assets/fonts/Gilroy/Gilroy-Regular.woff2) format('woff2'), url(https://d36rp4fxbcrz7d.cloudfront.net/assets/fonts/Gilroy/Gilroy-Regular.woff) format('woff'), url(https://d36rp4fxbcrz7d.cloudfront.net/assets/fonts/Gilroy/Gilroy-Regular.ttf) format('truetype'), url(https://d36rp4fxbcrz7d.cloudfront.net/assets/fonts/Gilroy/Gilroy-Regular.svg#Gilroy-Regular) format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: auto
}

@font-face {
    font-family: Gilroy;
    src: url(https://d36rp4fxbcrz7d.cloudfront.net/assets/fonts/Gilroy/Gilroy-RegularItalic.eot);
    src: local('Gilroy-RegularItalic'), url(https://d36rp4fxbcrz7d.cloudfront.net/assets/fonts/Gilroy/Gilroy-RegularItalic.eot?#iefix) format('embedded-opentype'), url(https://d36rp4fxbcrz7d.cloudfront.net/assets/fonts/Gilroy/Gilroy-RegularItalic.woff2) format('woff2'), url(https://d36rp4fxbcrz7d.cloudfront.net/assets/fonts/Gilroy/Gilroy-RegularItalic.woff) format('woff'), url(https://d36rp4fxbcrz7d.cloudfront.net/assets/fonts/Gilroy/Gilroy-RegularItalic.ttf) format('truetype'), url(https://d36rp4fxbcrz7d.cloudfront.net/assets/fonts/Gilroy/Gilroy-RegularItalic.svg#Gilroy-RegularItalic) format('svg');
    font-weight: 400;
    font-style: italic;
    font-display: auto
}

@font-face {
    font-family: Gilroy;
    src: url(https://d36rp4fxbcrz7d.cloudfront.net/assets/fonts/Gilroy/Gilroy-Semibold.eot);
    src: local('Gilroy-Semibold'), url(https://d36rp4fxbcrz7d.cloudfront.net/assets/fonts/Gilroy/Gilroy-Semibold.eot?#iefix) format('embedded-opentype'), url(https://d36rp4fxbcrz7d.cloudfront.net/assets/fonts/Gilroy/Gilroy-Semibold.woff2) format('woff2'), url(https://d36rp4fxbcrz7d.cloudfront.net/assets/fonts/Gilroy/Gilroy-Semibold.woff) format('woff'), url(https://d36rp4fxbcrz7d.cloudfront.net/assets/fonts/Gilroy/Gilroy-Semibold.ttf) format('truetype'), url(https://d36rp4fxbcrz7d.cloudfront.net/assets/fonts/Gilroy/Gilroy-Semibold.svg#Gilroy-Semibold) format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: auto
}

@font-face {
    font-family: Gilroy;
    src: url(https://d36rp4fxbcrz7d.cloudfront.net/assets/fonts/Gilroy/Gilroy-SemiboldItalic.eot);
    src: local('Gilroy-SemiboldItalic'), url(https://d36rp4fxbcrz7d.cloudfront.net/assets/fonts/Gilroy/Gilroy-SemiboldItalic.eot?#iefix) format('embedded-opentype'), url(https://d36rp4fxbcrz7d.cloudfront.net/assets/fonts/Gilroy/Gilroy-SemiboldItalic.woff2) format('woff2'), url(https://d36rp4fxbcrz7d.cloudfront.net/assets/fonts/Gilroy/Gilroy-SemiboldItalic.woff) format('woff'), url(https://d36rp4fxbcrz7d.cloudfront.net/assets/fonts/Gilroy/Gilroy-SemiboldItalic.ttf) format('truetype'), url(https://d36rp4fxbcrz7d.cloudfront.net/assets/fonts/Gilroy/Gilroy-SemiboldItalic.svg#Gilroy-SemiboldItalic) format('svg');
    font-weight: 600;
    font-style: italic;
    font-display: auto
}

@font-face {
    font-family: Gilroy;
    src: url(https://d36rp4fxbcrz7d.cloudfront.net/assets/fonts/Gilroy/Gilroy-Thin.eot);
    src: local('Gilroy-Thin'), url(https://d36rp4fxbcrz7d.cloudfront.net/assets/fonts/Gilroy/Gilroy-Thin.eot?#iefix) format('embedded-opentype'), url(https://d36rp4fxbcrz7d.cloudfront.net/assets/fonts/Gilroy/Gilroy-Thin.woff2) format('woff2'), url(https://d36rp4fxbcrz7d.cloudfront.net/assets/fonts/Gilroy/Gilroy-Thin.woff) format('woff'), url(https://d36rp4fxbcrz7d.cloudfront.net/assets/fonts/Gilroy/Gilroy-Thin.ttf) format('truetype'), url(https://d36rp4fxbcrz7d.cloudfront.net/assets/fonts/Gilroy/Gilroy-Thin.svg#Gilroy-Thin) format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: auto
}

@font-face {
    font-family: Gilroy;
    src: url(https://d36rp4fxbcrz7d.cloudfront.net/assets/fonts/Gilroy/Gilroy-ThinItalic.eot);
    src: local('Gilroy-ThinItalic'), url(https://d36rp4fxbcrz7d.cloudfront.net/assets/fonts/Gilroy/Gilroy-ThinItalic.eot?#iefix) format('embedded-opentype'), url(https://d36rp4fxbcrz7d.cloudfront.net/assets/fonts/Gilroy/Gilroy-ThinItalic.woff2) format('woff2'), url(https://d36rp4fxbcrz7d.cloudfront.net/assets/fonts/Gilroy/Gilroy-ThinItalic.woff) format('woff'), url(https://d36rp4fxbcrz7d.cloudfront.net/assets/fonts/Gilroy/Gilroy-ThinItalic.ttf) format('truetype'), url(https://d36rp4fxbcrz7d.cloudfront.net/assets/fonts/Gilroy/Gilroy-ThinItalic.svg#Gilroy-ThinItalic) format('svg');
    font-weight: 100;
    font-style: italic;
    font-display: auto
}

@font-face {
    font-family: Gilroy;
    src: url(https://d36rp4fxbcrz7d.cloudfront.net/assets/fonts/Gilroy/Gilroy-Ultralight.eot);
    src: local('Gilroy-Ultralight'), url(https://d36rp4fxbcrz7d.cloudfront.net/assets/fonts/Gilroy/Gilroy-Ultralight.eot?#iefix) format('embedded-opentype'), url(https://d36rp4fxbcrz7d.cloudfront.net/assets/fonts/Gilroy/Gilroy-Ultralight.woff2) format('woff2'), url(https://d36rp4fxbcrz7d.cloudfront.net/assets/fonts/Gilroy/Gilroy-Ultralight.woff) format('woff'), url(https://d36rp4fxbcrz7d.cloudfront.net/assets/fonts/Gilroy/Gilroy-Ultralight.ttf) format('truetype'), url(https://d36rp4fxbcrz7d.cloudfront.net/assets/fonts/Gilroy/Gilroy-Ultralight.svg#Gilroy-Ultralight) format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: auto
}

@font-face {
    font-family: Gilroy;
    src: url(https://d36rp4fxbcrz7d.cloudfront.net/assets/fonts/Gilroy/Gilroy-UltralightItalic.eot);
    src: local('Gilroy-UltralightItalic'), url(https://d36rp4fxbcrz7d.cloudfront.net/assets/fonts/Gilroy/Gilroy-UltralightItalic.eot?#iefix) format('embedded-opentype'), url(https://d36rp4fxbcrz7d.cloudfront.net/assets/fonts/Gilroy/Gilroy-UltralightItalic.woff2) format('woff2'), url(https://d36rp4fxbcrz7d.cloudfront.net/assets/fonts/Gilroy/Gilroy-UltralightItalic.woff) format('woff'), url(https://d36rp4fxbcrz7d.cloudfront.net/assets/fonts/Gilroy/Gilroy-UltralightItalic.ttf) format('truetype'), url(https://d36rp4fxbcrz7d.cloudfront.net/assets/fonts/Gilroy/Gilroy-UltralightItalic.svg#Gilroy-UltralightItalic) format('svg');
    font-weight: 200;
    font-style: italic;
    font-display: auto
}